@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Museo300';
  src:local(Museo-300), url(/fonts/Museo300-Regular.otf);
}

a {
  color: $link_color;
}

@mixin headline {
  font-family: 'Museo300';
}

h1, h2, h3, h4, h5, h6, a {
  @include headline;
}

body,
div,
p, span, a {
  font-family: 'Raleway', sans-serif;
}

