<section class="hero is-medium has-text-centered">
<div class="hero-head">
  <div class="container">
    <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand logo" href="https://noty.im">noty</a>
    </div>

    <span id="nav-toggle" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-center">
      <span class="nav-item">
        <a class="nav-item is-primary button" href="//blog.noty.im">Blog</a>
      </span>
      <a class="nav-item" href="/about" class="btn py2">About</a>
    </div>

    <div id="nav-menu" class="nav-right nav-menu">
      <a class="nav-item" href="//noty.im/#features">Features</a>
      <a class="nav-item" href="//noty.im/#pricing">Price</a>
      <a class="nav-item" href="//noty.im/docs">Docs</a>
    </div>
    </nav>
  </div>
</div>
</section>
