<div class="sm-col sm-col-4 md-col-3 px2 sm-show">
  <div class="sidebar clearfix">
    <div class="sidebar-sticky">
      <div class="sidebar-about">
        <a href="{{ .Site.BaseURL }}"><h1>{{ .Site.Title }}</h1></a>
        <h4>{{ .Site.Params.Title }}</h4>
      </div>

      <ul class="sidebar-nav">
        <li><a href="/">Home</a> </li>
        {{ range .Site.Menus.main }}
        <li><a href="{{.URL}}"> {{ .Name }} </a></li>
        {{end}}
      </ul>

      <p>{{ with .Site.Params.copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2006"}}. All rights reserved. {{end}}</p>
    </div>
  </div>
</div>
