{{ partial "header.html" . }}
<body class="{{ .Site.Params.themeColor }}">

  {{ partial "nav.html" . }}
  <section class="hero is-medium has-text-centered">
  <div class="hero-body intro">
    <div class="container">
      <h1 class="title is-1">On building a simple, reliable, fast uptime monitoring</h1>
      <h2 class="subtitle is-3">
        Everything about how we write software at noty.im
      </h2>
    </div>

    <div class="section">
      <p class="hero-buttons">
      <a class="button is-primary is-large" href="//noty.im">
        <span>Try out noty</span>
      </a>
      </p>
    </div>
  </div>
  </section>
  <hr>

  {{ range .Data.Pages }}
  <section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box-post">
          <h2 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
          <h2 class="subtitle">Post on <time class="pull-right post-list">{{ .Date.Format "Mon, Jan 2, 2006" }}</time></h2>
          <a class="gray box-post__description" href="{{ .Permalink }}">{{ .Description }}</a>
          <!--{{ .Content }}-->
        </div>
      </div>
    </div>
  </div>
  </section>
  {{ end }}

  <section class="section">
  <div class="container">{{ partial "pagination.html" . }}</div>
  </section>

  {{ partial "footer.html" . }}
</body>
</html>

